#!/bin/bash

ROOT=$(pwd)

VENV="${ROOT}/.env/bin/activate"

if [[ -f ${VENV} ]]; then
    . ${VENV}
else
    echo "no virtualenv at ${VENV}: not sourcing" >&2
fi

EXTRA="${ROOT}/.envrc-extra"

if [ -a ${EXTRA} ]; then
    . ${EXTRA}
fi
